body
{
background: #fdfdfd; 

margin-left: 10px;
}

.largetitle {
  color: black;
  font-size: 32px;
}

.topSpan{
    margin:100px;
}
th {
	font-size: 20px;
	text-align: left
}

.ui-slider .ui-slider-horizontal { 

width: 5000px !important; 
}